<section class="main-slider" data-loop="true" data-autoplay="false" data-interval="7000">
  <div class="inner">

    <!-- Slide One -->
    <div class="slide slideResize slide1" style="background-image: url(https://images.unsplash.com/photo-1508776892796-e9fd15936c07);">
      <div class="container">
        <div class="slide-inner1 common-inner">
          <span class="h1 from-bottom">Hair is Life</span><br>
          <span class="h4 from-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><br>
          <a href="index.html#" class="btn btn-primary first-btn waves-effect waves-light scale-up">More Details</a>
        </div>
      </div>
    </div>

    <!-- Slide Two -->
    <div class="slide slideResize slide2" style="background-image: url(https://images.unsplash.com/photo-1509207912744-79e3bcd9689a);">
      <div class="container">
        <div class="slide-inner2 common-inner">
          <span class="h1 from-bottom">Hair is Life</span><br>
          <span class="h4 from-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><br>
          <a href="index.html#" class="btn btn-primary first-btn waves-effect waves-light scale-up">More Details</a>
        </div>
      </div>
    </div>

    <!-- Slide Three -->
    <div class="slide slideResize slide3" style="background-image: url(https://images.unsplash.com/photo-1504573356050-57fe98afe7ed);">
      <div class="container">
        <div class="common-inner slide-inner3">
          <img src="img/favicon.png" alt="Logo Icon" class="img-responsive">
          <span class="h1 from-bottom">Hair is Life</span><br>
          <span class="h4 from-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><br>
          <a target="_blank" href="index.html#" class="btn btn-primary first-btn waves-effect waves-light scale-up">Buy Now</a>
        </div>
      </div>
    </div>

    <!-- Slide Four -->
    <div class="slide slideResize slide4" style="background-image: url(https://images.unsplash.com/photo-1502480426-dbd8bdbba41d);">
      <div class="container">
        <div class="common-inner slide-inner4">
          <span class="h1 from-bottom">Hair is Life</span><br>
          <span class="h4 from-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><br>
          <a href="index.html#" class="btn btn-primary first-btn waves-effect waves-light scale-up">More Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
