<!-- FOOTER -->
<footer>
  <!-- BACK TO TOP BUTTON -->
  <a href="#pageTop" class="backToTop"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
  <!-- FOOTER INFO -->
  <div class="clearfix footerInfo">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="footerText">
            <a ui-sref="home" class="footerLogo"><img src="img/logo-footer.png" alt="Footer Logo"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- COPY RIGHT -->
  <div class="clearfix copyRight">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-push-7 col-xs-12">
          <ul class="list-inline socialLink">
            <li><a href="index.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="index.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="index.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="col-sm-7 col-sm-pull-5 col-xs-12">
          <div class="copyRightText">
            <p>&copy; {{$ctrl.date | date:'yyyy'}} Copyright <a target="_blank" href="http://hairislifelv.com/">Hair Is Life</a> Engineered by <a target="_blank" href="http://sapioweb.com/">Sapioweb</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
