<!-- PAGE TITLE SECTION -->
    <section class="clearfix pageTitleArea" style="background-image: url(img/blog/pageTitle-bg.jpg);">
        <div class="container">
	        <div class="pageTitle">
	            <h1>About Us</h1>
	        </div>
        </div>
    </section>

    <about-includes-component></about-includes-component>

<!-- VARIETY SECTION -->
    <section class="clearfix varietySection">
      <div class="container">
        <div class="secotionTitle">
          <h2><span>Discover</span>variety of spa</h2>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="tabbable tabTop">
              <ul class="nav nav-tabs">
                <li class="active"><a href="about.html#hair" data-toggle="tab"><span>Hair</span></a></li>
                <li><a href="about.html#makeup" data-toggle="tab"><span>Makeup</span></a></li>
                <li><a href="about.html#facial" data-toggle="tab"><span>Facial</span></a></li>
                <li><a href="about.html#massage" data-toggle="tab"><span>Massage</span></a></li>
                <li><a href="about.html#nail" data-toggle="tab"><span>Nail</span></a></li>
                <li><a href="about.html#waxing" data-toggle="tab"><span>Waxing</span></a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="hair">
                  <div class="tabbable tabs-left row">
                    <ul class="nav nav-tabs col-sm-4 col-xs-12">
                      <li class="active"><a href="about.html#braidstwist" data-toggle="tab">Braids & Twist <span>$25</span></a></li>
                      <li><a href="about.html#haircolor" data-toggle="tab">Hair Color <span>$40</span></a></li>
                      <li><a href="about.html#hairextension" data-toggle="tab">Hair Extension<span>$19</span></a></li>
                      <li><a href="about.html#correctivecolor" data-toggle="tab">Corrective Color<span>$13</span></a></li>
                      <li><a href="about.html#haircut" data-toggle="tab">Hair Cut<span>$48</span></a></li>
                      <li><a href="about.html#partialfoil" data-toggle="tab">Partial Foil<span>$10</span></a></li>
                      <li><a href="about.html#extensionpertrack" data-toggle="tab">Extension Per Track<span>$40</span></a></li>
                    </ul>
                    <div class="tab-content col-sm-8 col-xs-12">
                      <div class="tab-pane active" id="braidstwist">
                        <div class="varietyContent">
                          <img src="img/home/variety.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Braids & Twist</h3>
                          <h4>$25.00 Per Head</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn" data-toggle="modal" data-target="#appoinmentModal">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircolor">
                        <div class="varietyContent">
                          <img src="img/home/variety-6.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Color</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="hairextension">
                        <div class="varietyContent">
                          <img src="img/home/variety-2.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Extension</h3>
                          <h4>$19.00 Per Head</h4>
                          <p>Amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="correctivecolor">
                        <div class="varietyContent">
                          <img src="img/home/variety-3.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Corrective Color</h3>
                          <h4>$13.00 Per Head</h4>
                          <p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircut">
                        <div class="varietyContent">
                          <img src="img/home/variety-4.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Cut</h3>
                          <h4>$48.00 Per Head</h4>
                          <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="partialfoil">
                        <div class="varietyContent">
                          <img src="img/home/variety-5.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Partial Foil</h3>
                          <h4>$10.00 Per Head</h4>
                          <p>Sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="extensionpertrack">
                        <div class="varietyContent">
                          <img src="img/home/variety-6.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Extension Per Track</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                          proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="makeup">
                  <div class="tabbable tabs-left row">
                    <ul class="nav nav-tabs col-sm-4 col-xs-12">
                      <li class="active"><a href="about.html#braidstwist1" data-toggle="tab">Braids & Twist <span>$25</span></a></li>
                      <li><a href="about.html#haircolor1" data-toggle="tab">Hair Color <span>$40</span></a></li>
                      <li><a href="about.html#hairextension1" data-toggle="tab">Hair Extension<span>$19</span></a></li>
                      <li><a href="about.html#correctivecolor1" data-toggle="tab">Corrective Color<span>$13</span></a></li>
                      <li><a href="about.html#haircut1" data-toggle="tab">Hair Cut<span>$48</span></a></li>
                      <li><a href="about.html#partialfoil1" data-toggle="tab">Partial Foil<span>$10</span></a></li>
                      <li><a href="about.html#extensionpertrack1" data-toggle="tab">Extension Per Track<span>$40</span></a></li>
                    </ul>
                    <div class="tab-content col-sm-8 col-xs-12">
                      <div class="tab-pane active" id="braidstwist1">
                        <div class="varietyContent">
                          <img src="img/home/variety-2.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Braids & Twist</h3>
                          <h4>$25.00 Per Head</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircolor1">
                        <div class="varietyContent">
                          <img src="img/home/variety-3.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Color</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="hairextension1">
                        <div class="varietyContent">
                          <img src="img/home/variety-4.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Extension</h3>
                          <h4>$19.00 Per Head</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="correctivecolor1">
                        <div class="varietyContent">
                          <img src="img/home/variety-5.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Corrective Color</h3>
                          <h4>$13.00 Per Head</h4>
                          <p>Ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircut1">
                        <div class="varietyContent">
                          <img src="img/home/variety-6.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Cut</h3>
                          <h4>$48.00 Per Head</h4>
                          <p>Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="partialfoil1">
                        <div class="varietyContent">
                          <img src="img/home/variety.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Partial Foil</h3>
                          <h4>$10.00 Per Head</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="extensionpertrack1">
                        <div class="varietyContent">
                          <img src="img/home/variety-2.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Extension Per Track</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="facial">
                  <div class="tabbable tabs-left row">
                    <ul class="nav nav-tabs col-sm-4 col-xs-12">
                      <li class="active"><a href="about.html#braidstwist1" data-toggle="tab">Braids & Twist <span>$25</span></a></li>
                      <li><a href="about.html#haircolor11" data-toggle="tab">Hair Color <span>$40</span></a></li>
                      <li><a href="about.html#hairextension11" data-toggle="tab">Hair Extension<span>$19</span></a></li>
                      <li><a href="about.html#correctivecolor11" data-toggle="tab">Corrective Color<span>$13</span></a></li>
                      <li><a href="about.html#haircut11" data-toggle="tab">Hair Cut<span>$48</span></a></li>
                      <li><a href="about.html#partialfoil11" data-toggle="tab">Partial Foil<span>$10</span></a></li>
                      <li><a href="about.html#extensionpertrack11" data-toggle="tab">Extension Per Track<span>$40</span></a></li>
                    </ul>
                    <div class="tab-content col-sm-8 col-xs-12">
                      <div class="tab-pane active" id="braidstwist1">
                        <div class="varietyContent">
                          <img src="img/home/variety-3.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Braids & Twist</h3>
                          <h4>$25.00 Per Head</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircolor11">
                        <div class="varietyContent">
                          <img src="img/home/variety-4.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Color</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="hairextension11">
                        <div class="varietyContent">
                          <img src="img/home/variety-5.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Extension</h3>
                          <h4>$19.00 Per Head</h4>
                          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="correctivecolor11">
                        <div class="varietyContent">
                          <img src="img/home/variety-6.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Cut</h3>
                          <h4>$48.00 Per Head</h4>
                          <p>Nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircut11">
                        <div class="varietyContent">
                          <img src="img/home/variety.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Cut</h3>
                          <h4>$48.00 Per Head</h4>
                          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="partialfoil11">
                        <div class="varietyContent">
                          <img src="img/home/variety-2.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Partial Foil</h3>
                          <h4>$10.00 Per Head</h4>
                          <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="extensionpertrack11">
                        <div class="varietyContent">
                          <img src="img/home/variety-3.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Extension Per Track</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="massage">
                  <div class="tabbable tabs-left row">
                    <ul class="nav nav-tabs col-sm-4 col-xs-12">
                      <li class="active"><a href="about.html#braidstwist1" data-toggle="tab">Braids & Twist <span>$25</span></a></li>
                      <li><a href="about.html#haircolor112" data-toggle="tab">Hair Color <span>$40</span></a></li>
                      <li><a href="about.html#hairextension112" data-toggle="tab">Hair Extension<span>$19</span></a></li>
                      <li><a href="about.html#correctivecolor112" data-toggle="tab">Corrective Color<span>$13</span></a></li>
                      <li><a href="about.html#haircut112" data-toggle="tab">Hair Cut<span>$48</span></a></li>
                      <li><a href="about.html#partialfoil112" data-toggle="tab">Partial Foil<span>$10</span></a></li>
                      <li><a href="about.html#extensionpertrack112" data-toggle="tab">Extension Per Track<span>$40</span></a></li>
                    </ul>
                    <div class="tab-content col-sm-8 col-xs-12">
                      <div class="tab-pane active" id="braidstwist1">
                        <div class="varietyContent">
                          <img src="img/home/variety-4.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Braids & Twist</h3>
                          <h4>$25.00 Per Head</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircolor112">
                        <div class="varietyContent">
                          <img src="img/home/variety-5.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Color</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="hairextension112">
                        <div class="varietyContent">
                          <img src="img/home/variety-6.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Extension</h3>
                          <h4>$19.00 Per Head</h4>
                          <p>Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="correctivecolor112">
                        <div class="varietyContent">
                          <img src="img/home/variety.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Corrective Color</h3>
                          <h4>$13.00 Per Head</h4>
                          <p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircut112">
                        <div class="varietyContent">
                          <img src="img/home/variety-2.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Cut</h3>
                          <h4>$48.00 Per Head</h4>
                          <p>Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="partialfoil112">
                        <div class="varietyContent">
                          <img src="img/home/variety-3.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Partial Foil</h3>
                          <h4>$10.00 Per Head</h4>
                          <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="extensionpertrack112">
                        <div class="varietyContent">
                          <img src="img/home/variety-4.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Extension Per Track</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="nail">
                  <div class="tabbable tabs-left row">
                    <ul class="nav nav-tabs col-sm-4 col-xs-12">
                      <li class="active"><a href="about.html#braidstwist1" data-toggle="tab">Braids & Twist <span>$25</span></a></li>
                      <li><a href="about.html#haircolor113" data-toggle="tab">Hair Color <span>$40</span></a></li>
                      <li><a href="about.html#hairextension113" data-toggle="tab">Hair Extension<span>$19</span></a></li>
                      <li><a href="about.html#correctivecolor113" data-toggle="tab">Corrective Color<span>$13</span></a></li>
                      <li><a href="about.html#haircut113" data-toggle="tab">Hair Cut<span>$48</span></a></li>
                      <li><a href="about.html#partialfoil113" data-toggle="tab">Partial Foil<span>$10</span></a></li>
                      <li><a href="about.html#extensionpertrack113" data-toggle="tab">Extension Per Track<span>$40</span></a></li>
                    </ul>
                    <div class="tab-content col-sm-8 col-xs-12">
                      <div class="tab-pane active" id="braidstwist1">
                        <div class="varietyContent">
                          <img src="img/home/variety-5.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Braids & Twist</h3>
                          <h4>$25.00 Per Head</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircolor113">
                        <div class="varietyContent">
                          <img src="img/home/variety-6.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Color</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="hairextension113">
                        <div class="varietyContent">
                          <img src="img/home/variety.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Extension</h3>
                          <h4>$19.00 Per Head</h4>
                          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="correctivecolor113">
                        <div class="varietyContent">
                          <img src="img/home/variety-2.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Corrective Color</h3>
                          <h4>$13.00 Per Head</h4>
                          <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircut113">
                        <div class="varietyContent">
                          <img src="img/home/variety-3.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Cut</h3>
                          <h4>$48.00 Per Head</h4>
                          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="partialfoil113">
                        <div class="varietyContent">
                          <img src="img/home/variety-4.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Partial Foil</h3>
                          <h4>$10.00 Per Head</h4>
                          <p>Bore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="extensionpertrack113">
                        <div class="varietyContent">
                          <img src="img/home/variety-5.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Extension Per Track</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Gna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="waxing">
                  <div class="tabbable tabs-left row">
                    <ul class="nav nav-tabs col-sm-4 col-xs-12">
                      <li class="active"><a href="about.html#braidstwist1" data-toggle="tab">Braids & Twist <span>$25</span></a></li>
                      <li><a href="about.html#haircolor114" data-toggle="tab">Hair Color <span>$40</span></a></li>
                      <li><a href="about.html#hairextension114" data-toggle="tab">Hair Extension<span>$19</span></a></li>
                      <li><a href="about.html#correctivecolor114" data-toggle="tab">Corrective Color<span>$13</span></a></li>
                      <li><a href="about.html#haircut114" data-toggle="tab">Hair Cut<span>$48</span></a></li>
                      <li><a href="about.html#partialfoil114" data-toggle="tab">Partial Foil<span>$10</span></a></li>
                      <li><a href="about.html#extensionpertrack114" data-toggle="tab">Extension Per Track<span>$40</span></a></li>
                    </ul>
                    <div class="tab-content col-sm-8 col-xs-12">
                      <div class="tab-pane active" id="braidstwist1">
                        <div class="varietyContent">
                          <img src="img/home/variety-6.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Braids & Twist</h3>
                          <h4>$25.00 Per Head</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircolor114">
                        <div class="varietyContent">
                          <img src="img/home/variety.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Color</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="hairextension114">
                        <div class="varietyContent">
                          <img src="img/home/variety-2.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Extension</h3>
                          <h4>$19.00 Per Head</h4>
                          <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="correctivecolor114">
                        <div class="varietyContent">
                          <img src="img/home/variety-3.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Corrective Color</h3>
                          <h4>$13.00 Per Head</h4>
                          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="haircut114">
                        <div class="varietyContent">
                          <img src="img/home/variety-4.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Hair Cut</h3>
                          <h4>$48.00 Per Head</h4>
                          <p>Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="partialfoil114">
                        <div class="varietyContent">
                          <img src="img/home/variety-5.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Partial Foil</h3>
                          <h4>$10.00 Per Head</h4>
                          <p>Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                      <div class="tab-pane" id="extensionpertrack114">
                        <div class="varietyContent">
                          <img src="img/home/variety-6.jpg" alt="Image Variety" class="img-responsive">
                          <h3>Extension Per Track</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>Bore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                          <a href="about.html#" class="btn btn-primary first-btn">make An Appoinment</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- REVIEW SECTION -->
    <section class="clearfix reviewSection patternbg">
      <div class="container">
        <div class="secotionTitle">
          <h2><span>Testimonials </span>Customer reviews</h2>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
                <div class="reviewImage hidden-xs">
                  <img src="img/home/testimonial-1.jpg" alt="Image review" class="img-responsive">
                </div>
                <div class="reviewInfo">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam co laboris nisi ut aliquip ex ea commodo conse quat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <h3>Linda Smith</h3>
                    <h4>Founder, Angel Beauty Spa</h4>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
                <div class="reviewImage hidden-xs">
                  <img src="img/home/testimonial-2.jpg" alt="Image review" class="img-responsive">
                </div>
                <div class="reviewInfo">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam co laboris nisi ut aliquip ex ea commodo conse quat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <h3>Linda Smith</h3>
                    <h4>Founder, Angel Beauty Spa</h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
