<!-- NOT FOUND SECTION -->
<section class="clearfix notFound">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="notFoundInner">
          <!-- <a ui-sref="home" class="notFoundLogo"><img src="img/logo.png" alt="Logo"></a> -->
          <div class="notFoundImage"><img src="img/not-found/not-found.png" alt="Image not found" class="img-responsive"></div>
          <div class="notFoundInfo">
            <h2>Sorry! Page Not Found!</h2>
            <!-- <a ui-sref="home" class="btn btn-primary">Come Back</a> -->
          </div>
        </div>
      </div>
    </div>
</section>
